<div class = "container">
  <h1>Stupid coaching</h1>
  <form action="/answer" method="GET" data-turbo="false">
    <label for="question" class="form-label">Ask your coach anything:</label>
    <input type="text" class="form-control" name="question" placeholder="Ask your question...">
    <button type="submit" class="btn btn-primary">Ask!</button>
  </form>
</div>
